*{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}      
    .container {
      /* position: relative; */
      align-items: center;
      text-align: center;
      color: #820000;
      }

    #bgimg{
opacity: 0.6;
    }
    .centered {
    text-align: center;
    /* text-shadow: 1px 1px 3px #0055b3; */
        border: 5px solid #820000;
        background-color: #d9b3b3;
        box-shadow: 20px #d9b3b3;
        border-radius: 15px;
        border-width: 6px;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
