<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Edit Biochemistry</h2>


    <form action=>
        <label for="fname">Chemistry:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Method:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Low:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">Temprature:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">High:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">Wave1:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Unit:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">Wave2:</label>
        <input type="text" id="lname" name="lname">
        <label for="fname">Dec.:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Blank:</label>
        <input type="text" id="lname" name="lname">
        <label for="fname">Delay time:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Standard:</label>
        <input type="checkbox" id="lname" name="lname">
        <label for="fname">Volume:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <input type="submit" value="concentration"><br><br>
        <label for="lname">QC:</label>
        <input type="checkbox" id="fname" name="fname"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>