<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Edit Biochemistry</h2>


    <form action=>
        <label for="fname">Chemistry:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Method:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Temprature:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">Wave 1:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Blank:</label>
        <input type="checkbox" id="lname" name="lname"><br><br>
        <label for="fname">Factor:</label>
        <input type="checkbox" id="fname" name="fname"><br><br>
        <label for="lname">Factor val.:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">QC:</label>
        <input type="checkbox" id="lname" name="lname"><br><br>
        <label for="fname">Low:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">High:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">Unit:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Dec.:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">Delay time:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Meas.time:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">First abs.:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="fname">Linear:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Volume:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>