<!-- {% extends 'base.html' %}
{% block content %} -->

<title> BIO SPECTRONICS </title>
<link rel="stylesheet" href="./static/css/index.css">
<link rel="shortcut icon" href="./static/favicon.ico">

<div class="container">
  <!-- <img src="https://wallpaperaccess.com/full/909067.jpg" alt="Image" style="width:100%;"> -->
  <!-- <img src="https://www.shutterstock.com/image-photo/doctor-scientist-analysis-diagnose-checking-260nw-1687180639.jpg" alt="Image" style="width:100% ;"> -->
  <img src="/static/bgimg.jfif" alt="Image" style="width:100% ;" id="bgimg">
  <!-- <img src="https://wallpaperaccess.com/full/909067.jpg" alt="Image" id="bgimg"> -->
  <div class="centered">
    <h1> BIO SPECTRONICS</h1>
    <img src="/static/logo.png" width="200" height="200" class="img">
    <h1> BIOCHEMISTRY ANALYZER</h1>
  </div>
</div>

<br><br>

<!-- {% endblock %} -->